# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/

# PDM specific
__pypackages__/
pdm.lock

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# MacOS / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Dash artifacts
*.cache/
.cache/
